body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

button {
    cursor: pointer;
}

/* container css  */
.container {
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 20px;
}

/* header css */
header {
    box-shadow: 0px 1px 3px 0px #00000029;
    padding: 25px 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 55px;
}

.header-logo img {
    width: fit-content;
    height: 18px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

/* INPUT */
.search-box input {
    border: 1px solid #948C8C;
    border-radius: 4px;
    padding: 10px 15px 10px 55px;
    width: 220px;
    font-size: 15px;
    font-weight: 700;
    outline: none;
}

/* PLACEHOLDER */
.search-box input::placeholder {
    color: #C4C4C4;
}

/* ICON BOX */
.box {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    left: 10px;
    pointer-events: none; 
}

/* ICON */
.search-box img {
    width: 16px;
    height: 16px;
}

/* DIVIDER */
.search {
    color: #C4C4C4;
    font-size: 15px;
    font-weight: 500;
}

.header-link {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    font-weight: 700;
}

.header-link a {
    color: black;
    text-decoration: none;
}

.selection {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header-login img {
    width: 16px;
    height: 16px;
}

.header-login a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.slash {
    font-size: 18px;
    font-weight: 700;
    color: black;
}
@media (max-width :1023px){
    .menu{
    width: 27px;
    height: 27px;
    color: black;
   }
   .header-logo img{
    display: none;
   }   
   .search-box{
    display: none;
   }
   .header-link{
    display: none;
   }
   .header-login{
      display: none;
   }
   .ellipse img{
      width: 27px;
      height: 27px;
   }
   .selection img:nth-child(2){
       width: 27px;
       height: 27px;
   }
   .selection{
       gap:15px;
   }
}
@media(min-width:1024px){
    .menu{
        display: none;
    }
    .ellipse img{
        display: none;
    }
}

/* Register */
.login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-in h2{
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
.account{
    border: 1px solid #D1D5D8;
    border-radius: 8px;
    box-shadow: 0px 3px 8px 0px #00000024;
    padding: 50px 70px 35px 70px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 330px;   
    
}
.mail{
    padding-bottom: 22px;
}
.mail label{
    color: #102C57;
    font-size: 15px;
    font-weight: 500;
}
.mail input{
    display: block;
    margin-top: 6px;
    border:1px solid #44546F;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px #00000012;
    padding: 8px 20px;
    width: 100%;
    box-sizing: border-box;
}
.mail input::placeholder{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    opacity:50%;
}
.sign-btn button{
    padding: 11px 0px;
    background-color: #102C57;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    width:100%;
    font-size: 14px;
    font-weight: 600;
    margin-top: 28px;
}
.register a{
    color: #102C57;
    font-size: 13px;
    font-weight: 700;
}
.register{
    padding-top: 20px;
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    text-align: center;
}
@media(max-width:1023px){
    .sign-in{
        padding: 20px;
    }
    .sign-in h2{
        font-size: 24px;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .account{
        padding: 40px 30px;
    }
    .mail label{
        font-size: 16px;
    }
    .mail input{
        padding: 8px 18px;
    }
    .sign-btn button{
        padding-top: 10px 0px;
    }
}

/* footer */
.footer{
    background-color: #354649;
}
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
}
.footer-section h2{
    margin:0;
    color:white;
    font-size: 35px;
    font-weight: 700;  
}
.links a{
    text-decoration: none;
    color: white;
}
.Reserved{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 65px;
}
.media{
    display: flex;
    align-items: center;
    gap:20px;
}
.media img{
    width: 22px;
    height: 22px;
}
.right{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

@media(max-width:1023px){
    .footer-section{
  display: block;
  padding-top: 45px;
}   
   .footer-section h2{
  font-size: 28px;
  font-weight: 700;  
  padding-bottom: 28px;
}
.links{
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-size: 19px;
  font-weight: 600;
  margin-top: 40px;
}
.Reserved{
  display: block;
}
.right{
  text-align: center;
  margin-top: 60px;
  font-size: 18px;
  margin-bottom: 18px;
}
.Reserved{
  padding-top: 50px;
  padding-bottom: 60px;
}
}
@media(min-width:1024px){
  .links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
  font-weight: 600;
}
}

/* mobile-section */
@media(max-width:1023px){
    .mobile-icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        position: sticky;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        background-color: white;
    }
    .mobile-icons a{
        text-decoration: none;
        color: black;
    }
    .profile img{
        width: 100%;
        height: 23px;
        text-align: center;
    }
    .profile div:nth-child(2){
        font-size: 15px;
        font-weight: 500;
        padding-top: 10px;
        text-align: center;
    }
    
}
@media(min-width:1024px){
    .mobile-icons{
        display: none;
    }
}